---
import '../styles/blogCard-styles.scss';

export interface Props {
  title: string;
  excerpt: string;
  href: string;
  img: string;
}

const { title, excerpt, href, img } = Astro.props;
---

<article class="blog-card">
  <img src={img} alt={title} class="blog-thumbnail" />
  <div class="blog-content">
    <h2 class="blog-heading">{title}</h2>
    <p class="blog-excerpt">{excerpt}</p>
    <a href={href} class="blog-readmore">Lees meer →</a>
  </div>
</article>